NEXT_PUBLIC_API_URL=http://127.0.0.1:8080
NEXT_PUBLIC_DEFAULT_TENANT=dom-corte
NEXT_PUBLIC_ROOT_DOMAIN=localhost
API_URL=http://127.0.0.1:8080

# Produção:
# NEXT_PUBLIC_API_URL=https://barber.wynext.online
# NEXT_PUBLIC_ROOT_DOMAIN=wynext.online
# API_URL=http://nginx:8080
